* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul, a {
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header .menu {
  display: flex;
}

.menu li {
  display: flex;
  margin-left: 2rem;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* css flex box */
h1 {
  text-align: center;
  margin-top: 20px;
}